<td><%= @comment.description[0..100].to_s + (@comment.description.size > 101 ? "..." : '') %></td>
<td><b><%= @comment.user.name %></b></td>
<td style="color:#777;text-align:right"><%= @comment.created_at.strftime('%l:%M %p') %></td>
