
<td>
  <%= link_to @sticky.name, "#{SITE_URL}/stickies/#{@sticky.id}" %>
</td>
<td>
  <% if @recipient == @sticky.owner %><b><% end %><%= strip_tags(simple_markdown @sticky.full_description).truncate(100, separator: ' ').html_safe %><% if @recipient == @sticky.owner %></b><% end %>
</td>

<td>
  <%= @tags = @sticky.tags; render partial: 'sticky_tags' %>
</td>
