<br />
<table style="width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;">
  <thead>
    <tr style="text-align:left">
      <th>Project</th>
      <th>Task</th>
      <th>Due Date</th>
      <th></th>
      <th>Assigned To</th>
      <th></th>
      <th>Tags</th>
    </tr>
  </thead>
  <% @stickies.order(:due_date).group_by{|s| s.project_id}.each do |project_id, stickies| %>
    <tr><td colspan="7" style="border-top:1px solid #ddd;"></td></tr>
    <tr>
      <td style="text-align:left;padding-top:10px;padding-right:20px;font-weight:bold"><%= ((project = Project.find_by_id(project_id)) ? link_to(project.name, "#{ENV['website_url']}/projects/#{project.id}", style: "color: #428bca") : 'No Project') %></td>
      <td colspan="6"></td>
    </tr>
    <% stickies.each do |sticky| %>
      <tr style="<%= 'background-color:#c2daff' if @sticky and @sticky.id == sticky.id %>"><%= render partial: 'sticky_line_item', locals: { sticky: sticky } %></tr>
    <% end %>
    <tr><td colspan="7" style="padding-bottom:10px"></td></tr>
  <% end %>
</table>
<br />
