- sticky_scope = current_user.all_viewable_stickies.where(due_date: current_date)
- unless current_user.calendar_task_status.nil?
  - if @sticky
    - sticky_scope = sticky_scope.where('completed = ? or id = ?', current_user.calendar_task_status, @sticky.id)
  - else
    - sticky_scope = sticky_scope.where(completed: current_user.calendar_task_status)

- sticky_scope = sticky_scope.where(project_id: current_user.project_filters.select(:project_id)) unless current_user.project_filters.count == 0
- sticky_scope = sticky_scope.where(owner_id: current_user.owner_filters.select(:owner_id)) unless current_user.owner_filters.count == 0
- sticky_scope = sticky_scope.with_tag(current_user.tag_filters.select(:tag_id)) unless current_user.tag_filters.count == 0
- sticky_scope = sticky_scope.where.not(project_id: current_user.project_preferences.where(archived: true).select(:project_id))
- new_stickies = sticky_scope.order(:project_id, :id)

- new_stickies.group_by(&:tag_ids).reverse_each do |tag_ids, stickies|
  - @tags = Tag.current.where(id: tag_ids)
  - if @tags.size > 0
    .calendar-task-name
      - @tags.each do |tag|
        %span.label{ style: "background-color: #{tag.color}" }= tag.name
  - stickies.sort{|a,b| a.due_date <=> b.due_date}.each do |sticky|
    = render 'stickies/popup', sticky: sticky
