- if @template.template_items.size == 0
  - template_item = @template.template_items.new(description: '')
  = render 'template_items/form', template_item: template_item
- else
  - @template.template_items.each do |template_item|
    = render 'template_items/form', template_item: template_item
