= label_tag :group_template_id, 'Template', class: 'col-md-2 control-label'
.col-md-10
  - if @project
    = select :group, :template_id, options_for_select([['---', nil]] + @project.templates.pluck(:name, :id), @group.template_id ), {}, class: 'form-control'
  - else
    = hidden_field :group, :template_id
