<% templates = ::Template.current.where(project_id: (@group ? @group.project_id : nil)) %>

<%= label_tag :group_template_id, 'Template', class: 'control-label' %>
<div class="controls">
  <% if @project_id %>
    <%= select_tag :group_template_id, options_for_select([['---', nil]] + templates.order('name').collect{|t| [t.name, t.id]}, @group.template_id ), name: 'template_id' %>
  <% else %>
    <%= hidden_field_tag :group_template_id %>
  <% end %>
</div>
