<% @title = 'Graph' %>
<h1><%= @title %></h1>


<% if @user.all_stickies.size > 0 %>
  <%#= draw_chart('highcharts', 'column', {'Planned' => [2], 'Ongoing' => [3], 'Completed' => [5]}, "year_chart", {:title => "Full Overview", :width => '100%', :height => 450}, ((@user.all_stickies.last.created_at.year || Date.today.year)..(@user.all_stickies.first.created_at.year || Date.today.year)).to_a) %>
  
  <%= draw_chart('highcharts', 'column', {'Planned' => @planned, 'Ongoing' => @ongoing, 'Completed' => @completed}, "month_chart", {:title => "#{@year} Overview", :width => '100%', :height => 450}, ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]) %>
<% else %>
  No Stickies
<% end %>