<% if @project_id and project = Project.find_by_id(@project_id) and project.tags.size > 0 %>
  <div class="field">
    <%= label :sticky, :tags %><br />
    <table class="blank padded" style="width:100%;table-layout:fixed;margin-bottom:0px;">
    <% project.tags.in_groups_of(5).each do |row_tags| %>
      <tr>
        <% row_tags.each do |tag| %>
          <td><% if tag %><%= check_box_tag "sticky[tags][]", tag, @sticky.tags.include?(tag) %> <%= tag %><% end %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>