- @title = 'Projects'
.page-header
  %h1
    = @title
    = link_to 'Create Project', new_project_path, class: 'btn btn-primary btn-xs'
  .per-page
    = render 'layouts/per_page', per_page: 10, object_count: @projects.total_count

= render 'projects/projects'
