.calendar-entry-name
  - if @tags.size > 0
    - @tags.each do |tag|
      %span.label{ style: "background-color: #{tag.color}" }= tag.name
  - else
    %span.label{ style: 'background-color:#ddd;' } No Tags
