<% @title = "Edit Board #{@board.name}" %>

<div class="page-header">
  <h1>
    <% if @board.project %>
      <%= link_to @board.project.name, @board.project %> &middot;
    <% end %>
    <%= link_to 'Boards', boards_path( project_id: @board.project ? @board.project.id : nil ) %> &middot;
    <%= link_to @board.name, @board %> &middot; Edit
  </h1>
</div>

<%= render 'form' %>


