.regular-link {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.link-unstyled {
  color: $text-color;

  &:hover,
  &:focus,
  &:active {
    color: $text-color;
    text-decoration: none;
  }
}
