/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              foundation.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
- brigham logo blue        #0E7799  
- brigham link blue       #057080
- brigham link gray   

- brigham dark blue   #094E63
- brigham light blue  #CDEDF7
- brigham orange      #EB6C20

- planned             #FFB475
- ongoing             #8FD800
- completed           #366DC2
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/

body{ color: #404040; overflow-y: scroll; }

a:link { color: #057080; }
a:hover { color: #EB6C20; }
hr { margin:0px; }

#content {
  padding: 4px;
  background-color: #FFF;
}

pre {
 overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 /* width: 99%; */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
 color: #404040;
}

pre {
  padding-left: 20px;
  margin: 0px;
}

/**************************************/
/*              HEADER                */
/**************************************/

#header {
	height:80px;
	line-height:80px;
	font-size:2.0em;
  padding:0 5px;
  border-bottom: 5px solid #0E7799;
	font-weight: bold;
  font-variant: small-caps;
	height: 100px;
	background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top right;
  background-color: #FFF;
}

/**************************************/
/*              MESSAGE               */
/**************************************/

#message {
  position:absolute;
  left:-5px;
  top:-30px;  
}

.notice, .error {
  float:left;
  margin:0 4px 0 0;
  padding:2px 8px;
  border-bottom:0px;
  white-space:nowrap;
}

.notice, .error {
  border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-radius-topleft: 8px;
  
  
  border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-radius-topright: 8px;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/

#menu {
	background:#404040;
	padding:5px;
	color: #fff;
/*  font-variant: small-caps;*/	
}

.sticky {
  position:fixed;
  top:0;
  width:950px;
  margin:0 auto;
  z-index:100;
}

#menu a {
  color: #fff;
  text-decoration: none;
	padding:0 5px;
}

#menu a:hover {
  color: #EB6C20;
}

div.menu_dropdown_right, div.menu_dropdown_right_center {
  background-color: #fff;
  position:absolute;
  border: 2px solid #0E7799;
  color: #404040;
  border-top: 0px;
  top:-2em;
  padding:5px;
  padding-right:8px;
  right:-5px;
  z-index:10;
  text-align:right;
}

div.menu_dropdown_left, div.menu_dropdown_left_center {
  background-color: #fff;
  position:absolute;
  border: 2px solid #0E7799;
  color: #404040;
  border-top: 0px;
  top:-2em;
  padding:5px;
  padding-left:8px;
  left:-5px;
  z-index:10;
  text-align: left;
}

#menu div.menu_dropdown_left a, #menu div.menu_dropdown_left_center a, #menu div.menu_dropdown_right a, #menu div.menu_dropdown_right_center a {
  color: #057080;
  padding-left: 0px;
  padding-right: 0px;
}

#menu div.menu_dropdown_left a:hover, #menu div.menu_dropdown_left_center a:hover, #menu div.menu_dropdown_right a:hover, #menu div.menu_dropdown_right_center a:hover {
  color: #EB6C20;
}

#menu, div.menu_dropdown_right {
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
}

#menu, div.menu_dropdown_left {
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
}


/**************************************/
/*            MAIN CONTENT            */
/**************************************/

/* Authentication Styling */
.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.field_with_errors, .field_with_errors_cleared {
  display: inline;
}

.field_with_errors input, .field_with_errors textarea {
  background-color: #FB4E50;
}

.fieldset_with_errors {
  background-color: #F9E8E8;
  border-color: #FB4E50;
}

.fieldset_with_errors legend {
  background-color: #F9E8E8;
  border: 1px solid #FB4E50;
}

.field_with_errors_cleared input, .field_with_errors_cleared textarea {
/*  background-color: #66FF66;*/
}

.comment_box {
  margin-left:20px;
}

.collapsed {
  white-space:nowrap;
  overflow:hidden;
}

.status_marked, .status_unmarked {
  float: left;
  padding: 2px;
  width: 10px;
/*  height: 10px;*/
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #DDD;
  background-color: #FFFFFF;
  margin-right:2px;
  margin-bottom: -2px;
}

.status_marked {
  border: 2px solid #404040;
}

.status_marked.planned {
  border-color: #FFB475;
  background-color: #FEE5CD;
}

.status_marked.ongoing {
  border-color: #66FF66;
  background-color: #D4FFCD;
}

.status_marked.completed {
  border-color: #366DC2;
  background-color: #B1BFDB;
}

.status_unmarked {
/*  border: 2px solid gray;*/
}

table.status-table, table.status-table tr, table.status-table td {
  border:0px;
  margin:0px;
  padding:0px
}

table.status-table td {
  vertical-align: middle;
}

.recently_updated {
  background-color: #ffffcc;
}

/**************************************/
/*               FOOTER               */
/**************************************/
