/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              custom.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
- logo blue   #0E7799
- link blue   #057080

- dark blue   #094E63
- light blue  #CDEDF7
- orange      #EB6C20
***************************************/

/* TODO extract into SCSS files */

/**************************************/
/*              GLOBALS               */
/**************************************/

/*
a:link { color: #057080; }
a:hover { color: #EB6C20; }
*/

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

.status_marked, .status_unmarked {
  float: left;
  padding: 2px;
  width: 10px;
/*  height: 10px;*/
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #DDD;
  background-color: #FFFFFF;
  margin-right:2px;
  margin-bottom: -2px;
}

.status_marked {
  border: 2px solid #404040;
}

.status_marked.planned {
  border-color: #FFB475;
  background-color: #FEE5CD;
}

.status_marked.ongoing {
  border-color: #66FF66;
  background-color: #D4FFCD;
}

.status_marked.completed {
  border-color: #366DC2;
  background-color: #B1BFDB;
}

.status_marked.not-completed {
  border-color: #E2E2E2; /* #66FF66; */
  background-color: #EDEDED; /* #D4FFCD; */
}

/*
.stickies_planned a {
  color: #FFB475;
}

.stickies_ongoing a {
  color: #336633;
}

.stickies_completed a {
  color: #366DC2;
}
*/

.status_unmarked {
/*  border: 2px solid gray;*/
}

table.status-table, table.status-table tr, table.status-table td {
  border:0px;
  margin:0px;
  padding:0px;
}

table.status-table td {
  vertical-align: middle;
}

.recently_updated {
  background-color: #ffffcc;
}

/* Sticky Calendar */
.calendar-entry-heading{
  text-align: right;
  background-color: #E1EAF9;
}

.calendar-entry-body-today{
  background-color: #E8EEFF; /* #C6CAF5; */
}

.calendar-entry-body-today .calendar-entry-heading{
  background-color: #BCCDFF; /* #9999CC; */
}

/* Other Month */
.last-month .calendar-entry-heading, .next-month .calendar-entry-heading{
  background-color: #FBF8F2;
}

.last-month.calendar-entry-body-today, .next-month.calendar-entry-body-today{
  background-color: #F9E0C8;
}

.calendar-entry-body-today.last-month .calendar-entry-heading, .calendar-entry-body-today.next-month .calendar-entry-heading{
  background-color: #FFB475;
}

/* Hover */
.hover{
  background-color: #EFFFEF; /* #CCFFCC; */
}

.hover .calendar-entry-heading{
  background-color: #9DEA9F; /* #669966; */
}

.calendar-entry-amount{
  width: 15px;
  text-align: right;
  float: left;
  margin-right: 5px;
}

.calendar-entry-name{
  overflow: hidden;
  white-space: nowrap;
  line-height: 21px;
}

span.selected {
  background-color: #404040;
  color: white;
  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}

.qtip{
  max-width: 280px; /* Change this? */
  min-width: 280px; /* ...and this! */
}

.field_with_errors {
  display: block;
}

/* TODO: Move to Contour, not in 1.0.0.beta */
dt, dd { display: block; float: left; margin-top: 20px; }
dt { clear: both; }
dl { overflow: hidden; }

/* TODO: Move to Contour, not in 1.0.0.beta */
.dl-horizontal dd {
  margin-left: 30px;
}
