/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              custom.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
- logo blue   #0E7799
- link blue   #057080

- dark blue   #094E63
- light blue  #CDEDF7
- orange      #EB6C20
***************************************/

/* TODO extract into SCSS files */

/**************************************/
/*              GLOBALS               */
/**************************************/

/*
a:link { color: #057080; }
a:hover { color: #EB6C20; }
*/

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

.status_marked, .status_unmarked {
  float: left;
  padding: 2px;
  width: 10px;
/*  height: 10px;*/
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #DDD;
  background-color: #FFFFFF;
  margin-right:2px;
  margin-bottom: -2px;
}

.status_marked {
  border: 2px solid #404040;
}

.status_marked.planned {
  border-color: #FFB475;
  background-color: #FEE5CD;
}

.status_marked.ongoing {
  border-color: #66FF66;
  background-color: #D4FFCD;
}

.status_marked.completed {
  border-color: #366DC2;
  background-color: #B1BFDB;
}

.status_marked.not-completed {
  border-color: #E2E2E2; /* #66FF66; */
  background-color: #EDEDED; /* #D4FFCD; */
}

/*
.stickies_planned a {
  color: #FFB475;
}

.stickies_ongoing a {
  color: #336633;
}

.stickies_completed a {
  color: #366DC2;
}
*/

.status_unmarked {
/*  border: 2px solid gray;*/
}

table.status-table, table.status-table tr, table.status-table td {
  border:0px;
  margin:0px;
  padding:0px;
}

table.status-table td {
  vertical-align: middle;
}

.recently_updated {
  background-color: #ffffcc;
}

/* Sticky Calendar */
.calendar-entry-heading{
  text-align: right;
  background-color: #E1EAF9;
}

.calendar-entry-body-today{
  background-color: #E8EEFF; /* #C6CAF5; */
}

.calendar-entry-body-today .calendar-entry-heading{
  background-color: #BCCDFF; /* #9999CC; */
}

/* Other Month */
.last-month .calendar-entry-heading, .next-month .calendar-entry-heading{
  background-color: #FBF8F2;
}

.last-month.calendar-entry-body-today, .next-month.calendar-entry-body-today{
  background-color: #F9E0C8;
}

.calendar-entry-body-today.last-month .calendar-entry-heading, .calendar-entry-body-today.next-month .calendar-entry-heading{
  background-color: #FFB475;
}

/* Hover */
.hover{
  background-color: #EFFFEF; /* #CCFFCC; */
}

.hover .calendar-entry-heading{
  background-color: #9DEA9F; /* #669966; */
}

.calendar-entry-amount{
  width: 15px;
  text-align: right;
  float: left;
  margin-right: 5px;
}

.calendar-entry-name{
  overflow: hidden;
  white-space: nowrap;
  line-height: 21px;
}

span.selected {
  background-color: #404040;
  color: white;
  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}

.qtip{
  max-width: 280px; /* Change this? */
  min-width: 280px; /* ...and this! */
}

/* Specific change for one element, dropdown box with flat right border */
#board_name {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.tab-pane {
  max-height: none ! important;
}

a.archived-boards-link {
  color: #08C;
}


a.archived-boards-link:hover {
  color: white;
}

.typeahead {
  z-index: 10000;
}

.ui-tooltip {
  z-index: 1000 !important;
}

.board-menu {
  line-height: 30px;
  font-size: 24px;
  font-weight: 200;
  padding-top: 5px;
  padding-bottom: 5px;
}

.board-menu span {
  padding-left: 7px;
  padding-right: 7px;
}

.board-menu span.board-selected {
  background-color: #eee;

  border: 0px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}

.boards-link {
}

.sticky-not-completed {
  /*font-weight: bold;*/
}

.sticky-completed {
  /*background-color: #f3f3f3;*/
  color: #ccc;
  /*text-decoration: line-through;*/
}

#stickies-affix.affix {
  /*border-bottom: 1px solid black;*/
  -webkit-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.075);
}

.sticky-box {
  background-color: white;

  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;

  -webkit-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
          box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
}

.board-droppable-hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #51A351;
}

.nav-rounded > li > a {
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.archive-droppable-active {
  background-color: #FCF8E3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
