/* Task Calendar */
.calendar-entry-heading{
  text-align: right;
  background-color: #E1EAF9;
}

.calendar-entry-body-today{
  background-color: #E8EEFF; /* #C6CAF5; */
}

.calendar-entry-body-today .calendar-entry-heading{
  background-color: #BCCDFF; /* #9999CC; */
}

/* Other Month */
.last-month .calendar-entry-heading, .next-month .calendar-entry-heading{
  background-color: #FBF8F2;
}

.last-month.calendar-entry-body-today, .next-month.calendar-entry-body-today{
  background-color: #F9E0C8;
}

.calendar-entry-body-today.last-month .calendar-entry-heading, .calendar-entry-body-today.next-month .calendar-entry-heading{
  background-color: #FFB475;
}

/* Hover */
.hover{
  background-color: #EFFFEF; /* #CCFFCC; */
}

.hover .calendar-entry-heading{
  background-color: #9DEA9F; /* #669966; */
}

.calendar-entry-name{
  overflow: hidden;
  white-space: nowrap;
  line-height: 27px;
}

a.archived-boards-link {
  color: #08C;
}


a.archived-boards-link:hover {
  color: white;
}

.typeahead {
  z-index: 10000;
}

.ui-tooltip {
  z-index: 1000 !important;
}

.board-menu {
  line-height: 30px;
  font-size: 24px;
  font-weight: 200;
  padding-top: 5px;
  padding-bottom: 5px;
}

.board-menu span {
  padding-left: 7px;
  padding-right: 7px;
}

.board-menu span.board-selected {
  background-color: #eee;

  border: 0px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}

.boards-link {
}

.sticky-not-completed {
  /*font-weight: bold;*/
}

.sticky-completed {
  /*background-color: #f3f3f3;*/
  color: #ccc;
  /*text-decoration: line-through;*/
}

.sticky-box {
  background-color: white;

  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;

  -webkit-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
          box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.075);
}

.board-droppable-hover, .tag-droppable-hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: #DFF0D8 !important;
}

.archive-droppable-active a {
  background-color: #DFF0D8 !important;
  color: #333333 !important;
}

.label-highlight {
  background-color: #ffffd4;
  color: #333;
}

.highlight {
  background-color: #ffffd4;
  font-weight: bold;
}

.checkbox {
  padding: 6px 10px 6px 25px;
  font-size: 13px;
  line-height: 18px;
  background-color: #f9f9f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
}

.tag-checkbox {
  font-weight: 200;
}

.tag-checkbox {
  opacity:0.4;
  filter:alpha(opacity=40);
  color:#000000;
}

.tag-checkbox.tag-selected:hover {
  opacity:0.9;
  filter:alpha(opacity=90);
}

.tag-checkbox:hover, .tag-checkbox.tag-selected {
  opacity:1.0;
  filter:alpha(opacity=100);
  color: #ffffff;
}

.tag-checkbox.tag-selected .tag-name {
  color: white;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="email"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.list-group-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
  font-weight: bolder;
}

.btn-fade-effect:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1.0;
}

.btn-fade-effect {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.progress-bar-default {
  background-color: #bbb;
}

.a-link:hover {
  color: #2a6496;
}

span.selected {
  color: #5cb85c;
}

.badge-primary {
  background-color: #428bca;
}
