<% params[:status] = current_user.sticky_filters['status'] if params['controller'] == 'stickies' and params['action'] == 'index' and current_user.sticky_filters['status'].kind_of?(Array) %>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default btn-xs <%= 'active' if (params[:status] and params[:status].include?('planned')) or not params[:status]  %>">
    <%= check_box_tag 'status[]', 'planned', params[:status] ? params[:status].include?('planned') : true, id: 'status_planned' %> Not Completed
  </label>
  <label class="btn btn-default btn-xs <%= 'active' if (params[:status] and params[:status].include?('completed')) or not params[:status]  %>">
    <%= check_box_tag 'status[]', 'completed', params[:status] ? params[:status].include?('completed') : true, id: 'status_completed' %> Completed
  </label>
</div>
