<div data-object="visible-sticky" id="sticky-day-lists">
  <% if stickies.count == 0 %>
    <div class="alert alert-info">
      <strong>Heads up!</strong> No stickies in the selected time period.
    </div>
  <% else %>
    <% stickies.order(:completed, :due_date).group_by{|s| s.due_date ? [s.completed, s.due_date.to_date] : [s.completed, nil]}.each do |(completed, due_date), stickies| %>
      <%= render partial: 'day_list', locals: { completed: completed, due_date: due_date, stickies: stickies } %>
    <% end %>
  <% end %>
</div>
