<% favorite_end = false %>
<% all_projects = current_user.all_projects %>
<% all_projects = all_projects.has_template if @group %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Select Project
    <% if @sticky %>
      or <%= link_to 'Create New Project', new_project_path( due_date: params[:due_date], object: 'sticky' ), method: :get, remote: true %>
    <% end %>
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <% all_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").each_with_index do |project, index| %>
      <% if favorite_end == false and not project.favorited_by?(current_user) and index != 0 %>
        </div>
        <h4 class="modal-title" style="border-bottom:1px solid #e5e5e5;margin-bottom:10px">Other Projects</h4>
        <div class="row">
        <% favorite_end = true %>
      <% end %>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="margin-bottom:10px;">
        <div style="white-space:nowrap;overflow:hidden;">
          <% if @group %>
            <%= link_to project.name, new_group_path( group: { project_id: project.id, due_date: params[:due_date] } ), remote: true, class: 'btn btn-default btn-block btn-fade-effect', style: "background-color:#{project.color(current_user)}" %>
          <% else %>
            <%= link_to project.name, new_sticky_path( sticky: { project_id: project.id, due_date: params[:due_date] } ), remote: true, class: 'btn btn-default btn-block btn-fade-effect', style: "background-color:#{project.color(current_user)}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="modal-footer">
  <%= link_to 'Close', '#', class: 'btn btn-default', data: { dismiss: 'modal' } %>
</div>
