<div class="pull-right" data-object="visible-sticky">
  <% if @stickies.where( completed: false ).total_count > 0 %><span class="label label-default">Incomplete</span> <span class="label label-default"><%= @stickies.where( completed: false ).total_count %></span><% end %>
  <% if @stickies.where( completed: true ).total_count > 0 %><span class="label label-primary">Complete</span> <span class="label label-primary"><%= @stickies.where( completed: true ).total_count %></span><% end %>
</div>

<div class="clear" data-object="visible-sticky" style="margin-bottom:10px">&nbsp;</div>

<%= render partial: 'list', locals: { stickies: @stickies } %>

<div class="center"><%= paginate @stickies, theme: "contour" %></div>
