<div style="margin-bottom:20px">
  <div id="sticky_modal_wrapper">
    <div id="sticky_modal_container" class="sticky-modal"></div>
  </div>

  <div id="stickies_table_container">
    <%= render partial: 'stickies/stickies_redesign_table' %>
  </div>
</div>
