<% @title = "Edit Sticky #{link_to @sticky.name, @sticky}".html_safe %>

<%= render 'form' %>

<br />

<fieldset>
  <%= form_tag search_comments_path(sticky_id: @sticky.id, class_name: 'Sticky'), method: :get, id: "comments_search" do %>
  <% end %>

  <legend>Comments</legend>

  <div id="comments"></div>
</fieldset>

<%= javascript_tag do %>
  $(function(){
    $.get($("#comments_search").attr("action"), $("#comments_search").serialize(), null, "script");
  });
<% end %>
