<% @title = "About #{DEFAULT_APP_NAME}" %>

<h1><%= @title %></h1>

  <%= DEFAULT_APP_NAME %> is a project management tool where you can create and share projects with collaborators.
  
  You can:
<fieldset>
  <h4>Create <em>Projects</em> and add other users as Editors or Viewers.</h4>
  <ul>
        <li><em>Editors</em> can manage the project with you.</li>
        <li><em>Viewers</em> can see project updates and comment on the project and its stickies.</li>
  </ul>
  <h4>Create <em>Stickies</em> to provide updates to projects you own and can edit.</h4>
  <ul>
    <li>Stickies can provide documentation, todos, followups, and more!</li>
    <li>Add stickies to Project Time <em>Frames</em>.</li>
    <li>Assign a user to a Sticky to have them complete it.</li>
  </ul>

  <h4>Create Time <em>Frames</em></h4>
  <ul>
    <li>Time frames help prioritize import stickies to get completed within a specified period of time.</li>
    <li>Stickies can be assigned to a time frame.</li>
  </ul>

  <h4>Post <em>Comments</em> on Projects and Stickies.</h4>
  <ul>
    <li>Project comments get emailed to everyone on the project.</li>
    <li>Sticky comments get emailed to everyone who commented on that sticky.</li>
  </ul>

  <h4><em>Recent Activity</em></h4>
  <ul>
    <li>View which projects have the most recent updates.</li>
    <li>View which projects have current stickies to be completed.</li>
  </ul>
</fieldset>