<% @title = "About #{DEFAULT_APP_NAME}" %>

<h1><%= @title %></h1>

  <%= DEFAULT_APP_NAME %> is a project management tool where you can create and share projects with collaborators.

  You can:
<fieldset>
  <h4>Create <em>Projects</em> and add other users as Editors or Viewers.</h4>
  <ul>
        <li><em>Editors</em> can manage the project with you.</li>
        <li><em>Viewers</em> can see project updates and comment on its stickies.</li>
        <li>Create project specific<span class="tag_bubble"><b>Tags</b></span> to easily identify stickies.</li>
        <li>Create <em>Templates</em> for stickies that are always in a particular order and assigned to specific users</li>
  </ul>
  <h4>Create <em>Stickies</em> to provide updates to projects you own and can edit.</h4>
  <ul>
    <li>Stickies can provide documentation, todos, followups, and more!</li>
    <li>Add stickies to Project Time <em>Frames</em>.</li>
    <li>Assign a user to a Sticky to have them complete it.</li>
    <li>Add <span class="tag_bubble"><b>Tags</b></span> to Stickies for easier reporting and searching.</li>
  </ul>

  <h4>Create Time <em>Frames</em></h4>
  <ul>
    <li>Time frames help prioritize important stickies to get completed within a specified period of time.</li>
    <li>Stickies can be assigned to a time frame.</li>
  </ul>

  <h4>Post <em>Comments</em> on Stickies</h4>
  <ul>
    <li>Sticky comments get emailed to everyone on the sticky.</li>
  </ul>

  <h4>Intuitive <em>Calendar</em> View</h4>
  <ul>
    <li>Create Stickies and Templates directly on the calendar.</li>
    <li>Filter the stickies showing on the calendar, per project, completion status, and those assigned exclusively to you.</li>
    <li>List view of tasks also available!</li>
  </ul>
</fieldset>
