<% @title = 'Dashboard' %>

<h1><%= @title %></h1>
<br /><br />
<% if current_user %>
  <%#= link_to 'Submit Manuscript or Publication for Review', new_publication_path, :class => 'button' %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
